<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
</head>
<body>
    <p style="font-family: Arial, sans-serif; font-size: 30px; text-align: center;">Website closed, please return within working hours. (9am and 5pm)</p>
</body>
</html>